---
import Social from '../components/Social.astro';
---

<div class="text-white flex items-center">
  <img src="/assets/images/photo.png" class="rounded-full grayscale w-14 mr-4" />
  <div class="flex flex-wrap">
    <Social name="twitter" />
    <Social name="github" />
    <Social name="linkedin" />
  </div>
</div>