---
import Social from '../components/Social.astro';
import TwitterIcon from '../svgs/twitter.svg';
---

<div class="text-white flex items-center w-3/4">
  <img src="/assets/images/photo.jpg" class="rounded-full grayscale w-14 mr-4" />
  <Social name="twitter" />
  <Social name="github" />
  <Social name="linkedin" />
</div>