---
import Social from '../components/Social.astro';
---

<div class="text-white flex items-center my-10 md:m-0">
  <img src="/assets/images/photo.png" class="rounded-full grayscale w-10 md:w-14 mr-3 md:mr-4" />
  <div class="flex flex-col md:flex-wrap">
    <div class="flex md:flex-wrap">
      <Social name="twitter" />
      <Social name="github" />
      <Social name="linkedin" />
    </div>
    <div class="mx-3 md:mx-4 text-xs mt-2">
      Design Inspired from 
      <a 
        href="https://dribbble.com/NicolasMzrd" 
        class="text-primary-blue" 
        target="_blank" 
        rel="noopener noreferrer"
      >
        Nicolas Meuzard
      </a>
    </div>
  </div>
</div>