<div class="text-white intro">
	<h1 class="font-bold text-6xl">Gokul Kathirvel</h1>
	<h3 class="font-semibold text-2xl mt-4"> Software Engineer at Coinbase ₿ </h3>

	<div class="text-gray-400 mt-8 md:w-3/4 tracking-wide	leading-6">
		<a href="https://gokatz.eth.xyz/" target="_blank" rel="noopener noreferrer">gokatz.eth</a>. 
		A fellow human 🤗 love building things over web 💕 Doing React <a href="https://twitter.com/coinbase" target="_blank" rel="noopener noreferrer">Coinbase ₿</a>.
		Passionate about Web performance and Ember.
		Prev: <a href="https://twitter.com/zoho" target="_blank" rel="noopener noreferrer">Zoho</a>
	</div>
</div>
