---
export interface Props {
	nav: any;
	serial: any;
}

const { nav, serial } = Astro.props;
// const isCurrentRoute = nav.url === window.location.pathname;
---

<a class="flex uppercase text-xs text-white items-center my-5 group cursor-pointer" href={nav.url}>
  0{serial + 1} <div class="mx-3 h-0.5 bg-white w-10 group-hover:w-14 transition-all"></div> {nav.title}
</a>