---
import TwitterIcon from './social/twitter.astro';
import GithubIcon from './social/github.astro';
import LinkedInIcon from './social/linkedin.astro';

const { name } = Astro.props;

const icons = {
  twitter: {
    icon: TwitterIcon,
    title: 'Twitter',
    url: 'https://twitter.com/_gokatz'
  },
  github: {
    icon: GithubIcon,
    title: 'GitHub',
    url: 'https://github.com/gokatz'
  },
  linkedin: {
    icon: LinkedInIcon,
    title: 'LinkedIn',
    url: 'https://www.linkedin.com/in/gokulkathirvel/'
  }
}

const { icon: Icon, title, url } = (icons[name] || {});
---

<a 
  class="text-white text-sm mx-4 flex social-icons relative cursor-pointer link-line-design" 
  href={url} 
  target="_blank" 
  rel="noopener noreferrer"
>
  <Icon /> {title}
</a>
