---
import TwitterIcon from './social/twitter.astro';
import GithubIcon from './social/github.astro';
import LinkedInIcon from './social/linkedin.astro';

const { name } = Astro.props;

const icons = {
  twitter: {
    icon: TwitterIcon,
    title: 'Twitter',
    url: 'https://twitter.com/_gokatz'
  },
  github: {
    icon: GithubIcon,
    title: 'GitHub',
    url: 'https://github.com/gokatz'
  },
  linkedin: {
    icon: LinkedInIcon,
    title: 'LinkedIn',
    url: 'https://www.linkedin.com/in/gokulkathirvel/'
  }
}

const { icon: Icon, title, url } = (icons[name] || {});
---

<a 
  class="
    text-white text-xs md:text-sm 
    mx-3 md:mx-4 my-2 
    flex items-center 
    social-icons 
    relative 
    cursor-pointer link-line-design
  " 
  href={url} 
  target="_blank" 
  rel="noopener noreferrer"
>
  <Icon /> {title}
</a>
